.linkStyleMenue, nav ul a, footer #footer-content a {
  text-decoration: none;
  color: white; }

.hoverBasic, nav ul li a:hover:not(.active), footer #footer-content a:hover:not(.active), .content > div:first-child #indexBtn:hover, .content > div:nth-child(2) #indexBtn:hover {
  text-shadow: 2px 2px #333;
  color: #ffa500; }

.highlightedHeadlines, .content > div:first-child .highlightedHeader, .content > div:nth-child(2) .highlightedHeader, #content-top-5 .square-inside h1 {
  color: #0000b2;
  font-weight: bold;
  font-size: 2em;
  text-shadow: 3px 3px 3px #666; }

.subTitle, #content-top-5 #subHeadline {
  font-style: italic;
  padding-left: 40px;
  font-size: 2em;
  font-weight: bold; }

.imageIndex {
  background-size: auto;
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
  height: 250px; }

@media screen and (max-width: 910px) {
  nav a {
    padding-left: 20px !important;
    padding-right: 20px !important; } }
@media screen and (max-width: 810px) {
  .content > div {
    height: 420px !important; }

  nav a, footer a {
    font-size: 1.5em !important; }

  nav a {
    padding-left: 25px !important;
    padding-right: 25px !important; }

  nav ul, footer {
    height: 35px !important; }

  .content {
    margin-top: 15px !important; }

  .content-top-txt {
    font-size: 1.2em !important; }

  #evolutionImg {
    height: 170px !important; } }
@media screen and (max-width: 600px) {
  #logoContainer {
    height: 120px !important; }

  #headerTransition {
    font-size: 80px !important; }

  .headAnimation {
    top: 10px !important; }

  #timer {
    font-size: 2em !important; }

  .content-top-txt {
    font-size: 1em !important; }

  #evolutionImg {
    height: 130px !important; }

  #container4-blockquote {
    font-size: 0.8em !important; }

  #subHeadline {
    font-size: 1em; } }
@media screen and (max-width: 550px) {
  nav a, footer a {
    font-size: 0.8em !important; }

  nav ul, footer {
    height: 25px !important; }

  #logoContainer {
    height: 100px !important; }

  #headerTransition {
    font-size: 50px !important; }

  nav a {
    padding-left: 15px !important;
    padding-right: 15px !important; } }
@media screen and (max-width: 350px) {
  nav a, footer a {
    font-size: 0.7em !important; }

  .content-top-txt {
    font-size: 0.6em !important; }

  nav a {
    padding-left: 5px !important;
    padding-right: 5px !important; } }
nav {
  background-color: #414141;
  position: sticky;
  margin-bottom: 30px;
  top: 0px; }
  nav ul {
    height: 70px;
    padding-top: 10px; }
    nav ul:hover {
      background-color: #545454;
      border-bottom: 5px solid blue;
      height: 65px; }
    nav ul li {
      display: inline;
      list-style: none; }
    nav ul a {
      padding-left: 50px;
      padding-right: 50px;
      font-size: 2.2em; }
    nav ul li a:hover:not(.active) {
      background-color: #343434; }

footer {
  position: fixed;
  bottom: 0;
  height: 90px;
  width: 100%;
  background-color: #414141;
  display: inline; }
  footer #footer-content {
    text-align: center;
    padding-top: 5px; }
    footer #footer-content a {
      font-size: 2em;
      padding-left: 40px; }

header {
  width: 100%; }
  header #logoContainer {
    height: 200px;
    background-image: url("../img/server.jpeg");
    background-size: cover; }
    header #logoContainer #headerTransition {
      color: #0000b2;
      font-size: 110px; }
      header #logoContainer #headerTransition .headAnimation {
        top: 30px;
        position: absolute;
        width: 50px;
        display: inline; }
      header #logoContainer #headerTransition #cLetter {
        position: absolute;
        left: 50px; }
      header #logoContainer #headerTransition #rLetter {
        left: 125px;
        transition: transform 2s; }
      header #logoContainer #headerTransition #letters {
        font-size: 0.5em;
        width: 500px;
        display: inline;
        left: 130px;
        top: 85px;
        opacity: 0;
        color: #ffa500;
        transition: opacity 3s linear; }
        header #logoContainer #headerTransition #letters:hover {
          opacity: 1; }

.borderContentCenter, .content > div {
  border-bottom: 3px solid #777;
  border-right: 3px solid #777; }

.shadowBase, nav, .content > div {
  box-shadow: 5px 5px 5px grey; }

.iMargin, nav ul i, footer #footer-content i, footer #footer-content {
  margin-right: 5px; }

* {
  font-family: "Gugi", cursive; }

body {
  padding: 0;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px; }

header {
  width: 100%; }
  header #logoContainer {
    height: 200px;
    background-image: url("../img/server.jpeg");
    background-size: cover; }
    header #logoContainer #headerTransition {
      color: #0000b2;
      font-size: 110px; }
      header #logoContainer #headerTransition .headAnimation {
        top: 30px;
        position: absolute;
        width: 50px;
        display: inline; }
      header #logoContainer #headerTransition #cLetter {
        position: absolute;
        left: 50px; }
      header #logoContainer #headerTransition #rLetter {
        left: 125px;
        transition: transform 2s; }
      header #logoContainer #headerTransition #letters {
        font-size: 0.5em;
        width: 500px;
        display: inline;
        left: 130px;
        top: 85px;
        opacity: 0;
        color: #ffa500;
        transition: opacity 3s linear; }
        header #logoContainer #headerTransition #letters:hover {
          opacity: 1; }

nav {
  background-color: #414141;
  position: sticky;
  top: 0px; }
  nav ul {
    height: 70px; }
    nav ul:hover {
      background-color: #545454;
      border-bottom: 5px solid blue;
      height: 65px; }
    nav ul li {
      display: inline;
      list-style: none; }
    nav ul a {
      padding-left: 5%;
      padding-right: 5%;
      font-size: 2.6em; }
    nav ul li a:hover:not(.active) {
      background-color: #343434; }

.content {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  margin-top: 60px; }

.content > div {
  flex: 1 1 auto;
  text-align: center;
  height: 500px;
  margin: 30px 0px;
  float: left; }

.content > div:first-child, .content > div:nth-child(2) {
  margin-top: 0px;
  margin-bottom: 30px;
  text-aling: center; }
  .content > div:first-child .imgIndexContent, .content > div:nth-child(2) .imgIndexContent {
    background-image: url("../img/evolution.jpeg");
    background-size: auto;
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
    height: 250px; }
  .content > div:first-child .highlightedHeader, .content > div:nth-child(2) .highlightedHeader {
    margin-top: -30px; }
  .content > div:first-child #indexBtn, .content > div:nth-child(2) #indexBtn {
    margin-top: -30px;
    border-radius: 8px;
    padding: 8px 30px;
    font-size: 30px;
    color: white;
    background-color: #414141; }
    .content > div:first-child #indexBtn:hover, .content > div:nth-child(2) #indexBtn:hover {
      border-radius: 30px; }

#content-top-2 {
  display: none; }
  #content-top-2 .content-top-txt {
    font-size: 1.5em;
    font-weight: bold; }
  #content-top-2 #timer {
    margin: 0;
    font-size: 4em !important;
    color: #ffa500; }
  #content-top-2 #cfLogo {
    margin-top: -30px;
    width: 70%;
    max-width: 300px;
    height: 150px; }

#content-top-6 {
  align-items: center;
  justify-content: center;
  display: flex; }

#container-team-top {
  width: 300px; }

#content-top-3 {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 400px; }
  #content-top-3 .card {
    background-color: #fff;
    min-width: 100%;
    min-height: 400px;
    display: flex;
    overflow-x: auto; }
  #content-top-3 .card::-webkit-scrollbar {
    display: none; }
  #content-top-3 .card--content {
    background-color: lightgrey;
    min-width: 400px;
    margin: 5px; }

#container-quotes-top {
  height: 290px; }

#container-quotes-bottom {
  height: 150px; }
  #container-quotes-bottom #left, #container-quotes-bottom #right {
    width: 45%;
    padding: 1em;
    height: 100px;
    display: inline; }
  #container-quotes-bottom #left {
    float: left; }
  #container-quotes-bottom #right {
    float: right; }
  #container-quotes-bottom blockquote {
    font-size: 1.2em; }
  #container-quotes-bottom p {
    font-style: italic;
    color: #777; }
  #container-quotes-bottom .quoteImg {
    width: 105px;
    float: left; }
  #container-quotes-bottom .quoteDetail {
    display: inline; }

#content-top-5 {
  padding: 25px; }
  #content-top-5 .square-inside h1 {
    text-align: left !important;
    margin-top: -20px; }
  #content-top-5 #subHeadline {
    margin-top: -30px;
    text-align: left !important;
    color: #777;
    font-style: italic; }
  #content-top-5 .square-inside p {
    margin-top: -30px;
    color: #000;
    font-size: 18px;
    line-height: 1.5em;
    padding: 0 0 1em 0;
    text-align: justify; }
  #content-top-5 .square-inside p::first-letter {
    font-size: 50px;
    float: left;
    padding: 0 5px 0 0;
    color: #ffa500; }

footer {
  position: fixed;
  bottom: 0;
  height: 90px;
  width: 100%;
  background-color: #414141;
  display: inline; }
  footer #footer-content {
    text-align: center;
    padding-top: 5px; }
    footer #footer-content a {
      font-size: 2em;
      padding-left: 40px; }

/*# sourceMappingURL=about.css.map */
