@media screen and (-width:1410px)

@media screen and (max-width:810px)
	nav a, footer a
		font-size: 1.5em !important
	nav ul ,footer
		height: 35px !important
	.content
		margin-top: 15px !important

@media screen and (max-width:600px)
	// #letters
	// 	font-size: 0.2em !important
	#logoContainer
		height: 120px !important
	#headerTransition
		font-size: 80px !important
	.headAnimation
		top: 10px !important
@media screen and (max-width:510px)
	nav a, footer a
		font-size: 0.8em !important
	nav ul, footer
		height: 25px !important
	#logoContainer
		height: 100px !important
	#headerTransition
		font-size: 50px !important
@media screen and (max-width:310px)
	nav a, footer a
		font-size: 0.7em !important