*
  margin: 0
  padding: 0

@import Stemplate
@import header
@import navbar
@import mediaquery


.dropzone, .dragzone
  display: inline-block
  height: 300px
  width: 300px
  border: 1px solid red

.dropzone
  border: 1px solid green

.samesize
  width: 250px
  height: 250px
  border-radius: 50%

.nutri
  margin-left: 43%
  margin-bottom: 2%

#den
  border-radius: 50%
  margin-left: 25%



.dennispapi
  background-color: rgba(192, 185, 185, 0.5)
  padding: 2%


#papitext
  width: 30%
  margin-top: 3%
  margin-right: 20%
  float: right
  font-family: Cookie, cursive
  font-size: 1.1em

h3
  text-align: center
  font-size: 200%
  font-weight: bold

footer
  margin-top: 2%

.content
  margin-bottom: 7%

.masterpiece
  text-align: center
  margin-top: 3%
